.CreatePost {
    position: relative;
    width: 800px;
    min-height: 200px;
    border: 1px solid rgb(208, 207, 207);
    background: rgb(209, 208, 208);
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    border-radius: 20px;
}

.CreatePost .PostImageDiv {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.CreatePost textarea {
    position: relative;
    width: 100%;
    min-height: 80px;
    font-size: 25px;
    margin-bottom: 30px;
    border-radius: 40px;
    color: rgb(20, 20, 20);
    font-size: 24px;
    font-weight: 600;
    padding: 20px;
    border: none;
    outline: none;
    background: none;
    resize: none;
    margin-top: 20px;
    box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
        inset -2px -2px 4px rgba(255, 255, 255, 0.5),
        inset -1px -1px 2px rgba(255, 255, 255, 0.5),
        inset 8px 8px 16px rgba(0, 0, 0, 0.1),
        inset 4px 4px 8px rgba(0, 0, 0, 0.1),
        inset 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.CreatePost .uploadBx label {
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    outline: none;
    border: none;
    font-size: 30px;
    color: rgb(255, 55, 55);
    box-shadow: inset 0 -5px 3px rgba(0, 0, 0, 0.1),
        -5px 5px 3px rgba(0, 0, 0, 0.1),
        5px 5px 3px rgba(0, 0, 0, 0.1),
        0 5px 3px rgba(0, 0, 0, 0.1),
        0 10px 5px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
    cursor: pointer;
}

.CreatePost .uploadBx #upload {
    display: none;
}

.CreatePost .uploadBx {
    position: relative;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.CreatePost .uploadBx i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.CreatePost .postButton {
    position: relative;
    margin-top: 20px;
    width: 120px;
    height: 50px;
    font-size: 18px;
    font-weight: 700;
    color: rgb(55, 55, 55);
    left: 50%;
    border-radius: 10px;
    outline: none;
    border: none;
    transform: translateX(-50%);
    box-shadow: none;
    cursor: pointer;
}

.CreatePost .postButton:hover {
    box-shadow: -6px -6px 5px rgba(255, 255, 255, 0.8),
        -8px -8px 10px rgba(255, 255, 255, 0.8),
        6px 6px 5px rgba(0, 0, 0, 0.2),
        8px 8px 10px rgba(0, 0, 0, 0.2);
}

.CreatePost .postButton:active {
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.8),
        -5px -5px 5px rgba(0, 0, 0, 0.1);
}

.CreatePost .errBx {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    color: rgb(253, 33, 33);
}

.CreatePost .errBx i {
    margin-right: 10px;
}

.CreatePost audio {
    margin: 20px 0;
    min-width: 500px;
    box-shadow: -6px -6px 15px rgba(255, 255, 255, 0.8),
        6px 6px 12px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.CreatePost audio::-webkit-media-controls-play-button {
    box-shadow: inset 0 -5px 3px rgb(0 0 0 / 10%),
        -5px 5px 3px rgb(0 0 0 / 10%),
        5px 5px 3px rgb(0 0 0 / 10%), 0 5px 3px rgb(0 0 0 / 10%),
        0 10px 5px rgb(0 0 0 / 10%);
    border-radius: 50%;
}

.CreatePost audio::-webkit-media-controls-timeline {
    width: 200px;
}

.CreatePost h4 {
    margin-top: 10px;
    color: rgb(251, 81, 81);
}

@media (max-width: 950px) {
    .CreatePost {
        width: 650px;
    }

    .CreatePost .textBx h2 {
        font-size: 20px;
    }

    .CreatePost textarea {
        max-height: 50px;
        /* min-height: 30px; */
        font-size: 20px;
    }

    .CreatePost .uploadBx label {
        width: 50px;
        height: 50px;
        font-size: 20px;
    }

    .CreatePost h3 {
        font-size: 16px;
    }

    .CreatePost .postButton {
        width: 110px;
        height: 45px;
        font-size: 16px;
    }
}