.Share {
    position: relative;
    width: 150px;
    height: 50px;
    cursor: pointer;
    color: rgb(106, 106, 106);
    box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.8),
        5px 5px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    font-size: 13px;
}

.Share:active {
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.8),
        -5px -5px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 950px) {
    .Share {
        width: 140px;
        height: 45px;
        font-size: 12px;
    }
}