.WriteComment {
    position: relative;
    width: 95%;
    display: flex;
}

.WriteComment .WriteCommentAvatar {
    position: relative;
    width: 50px;
    border-radius: 50%;
}

.WriteComment .WriteCommentAvatar img {
    position: absolute;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.WriteComment .MyComment {
    position: relative;
    width: calc(100% - 50px);
    margin-left: 10px;
}

.WriteComment .MyComment textarea {
    position: relative;
    width: 100%;
    min-height: 60px;
    padding: 5px 15px;
    font-size: 18px;
    resize: none;
    border-radius: 10px;
    overflow: hidden;
    text-align: justify;
}

.WriteComment .MyComment textarea:focus {
    outline: 1px solid rgb(52, 52, 52)
}

@media (max-width: 950px) {
    .WriteComment .WriteCommentAvatar {
        width: 45px;
    }
}