.Post
{
    position: relative;
    width: 920px;
    min-height: 200px;
    border: 1px solid rgb(208, 207, 207);
    margin: 80px 0;
    display: flex;
    padding: 20px 20px;
    box-shadow: -6px -6px 15px rgba(255, 255, 255, 0.8),
    -12px -12px 20px rgba(255, 255, 255, 0.8),
    6px 6px 12px rgba(0, 0, 0, 0.2),
    12px 12px 15px rgba(0, 0, 0, 0.2);;
    border-radius: 20px;
    /* //color: #6f6cde; */
}
.Post .content
{
    position: relative;
    width: 700px;
    min-height: 200px;
}
.Post .content .title
{
    position: relative;
    text-align: center;
    justify-self: auto;
    font-size: 25px;
    border-radius: 40px;
    padding: 15px;
    box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
    inset -2px -2px 4px rgba(255, 255, 255, 0.5),
    inset -1px -1px 2px rgba(255, 255, 255, 0.5),
    inset 8px 8px 16px rgba(0, 0, 0, 0.1),
    inset 4px 4px 8px rgba(0, 0, 0, 0.1),
    inset 2px 2px 4px rgba(0, 0, 0, 0.1);
}
.Post .content .audioBx 
{
    position: relative;
    width: 100%;
    min-height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Post .content .audioBx .button
{
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: inset 0 -5px 3px rgba(0,0,0,0.1),
    -5px 5px 3px rgba(0,0,0,0.1),
    5px 5px 3px rgba(0,0,0,0.1),
    0 5px 3px rgba(0,0,0,0.1),
    0 10px 5px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 25px 0;
}
.Post .content .audioBx .button span
{
    font-size: 33px;
    color: rgb(255, 55, 55);
    text-shadow: 0px 0px 1px #000;
}
.Post .content .audioBx .seekBar
{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.Post .content .audioBx .seekBar span
{
    position: relative;
    display: flex;
    justify-content: center;
    width: 10%;
    height: 100%;
}
.Post .content .audioBx .seekBar .seekSlider
{
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    width: 80%;
    border: 1px solid rgb(207, 191, 191);
    height: 12px;
    border-radius: 40px;
    box-shadow: 0px 0px 4px rgba(135, 129, 129, 0.5);
    cursor: pointer;
}
.Post .content .audioBx .seekBar .seekSlider::-webkit-slider-thumb
{
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(241, 50, 50);
    box-shadow: 1px 1px 10px rgb(241, 50, 50);
}
.Post .content .audioBx .likeBx
{
    position: relative;
    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
}
.Post .content .audioBx .likeBx button
{
    position: relative;
    font-size: 22px;
    margin: 0 10px;
    padding: 7px 35px;
    border-radius: 30px;
    border: none;
    background: rgb(240, 239, 239);
    cursor: pointer;
    color: rgb(106, 106, 106);
    box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.8),
    5px 5px 5px rgba(0, 0, 0, 0.1);
}
.Post .content .audioBx .likeBx button .imgBx
{
    position: relative;
    max-width: 36px;
    height: 36px;
}
.Post .content .audioBx .likeBx button .imgBx img
{
    position: absolute;
    height: 100%;
    image-rendering: auto;
    object-fit: cover;
}
.Post .content .audioBx .likeBx button:hover i
{
    animation: likeAnimation 0.5s infinite;
}
@keyframes likeAnimation 
{
    0%
    {
        transform: rotate(0);
    }
    35%
    {
        transform: rotate(-5deg) ;
    }
    65%
    {
        transform: rotate(5deg) ;
    }
    100%
    {
        transform: rotate(0);
    }
}
.Post .content .audioBx .likeBx button:active
{
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.8),
    -5px -5px 5px rgba(0, 0, 0, 0.1);;
}
.Post .content .audioBx .likeBx .reactionBx
{
    position: relative;
    cursor: pointer;
}
.Post .content .audioBx .likeBx .care
{
    font-size: 20px;
    color: rgb(48, 48, 48);
}
.Post .content .audioBx .likeBx .reactionBx:hover .reactions
{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}
.Post .content .audioBx .likeBx .reactions
{
    position: absolute;
    display: inline-block;
    opacity: 0;
    transition: 0.5s;
    visibility: hidden;
    width: 450px;
    height: 70px;
    background: rgba(255, 255, 255, 0.5);
    transform: translateY(-70px) translateX(-160px);
    border-radius: 20px;
}
.Post .content .audioBx .likeBx .reactions button i
{
    display: block;
}
.Post .imgBx
{
    position: relative;
    width: 220px;
    display: flex;
    justify-content: center;
}
.Post .imgBx .profileImg
{
    position: relative;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Post .imgBx .profileImg img
{
    position: relative;
    width: 100%;
    object-fit: cover;
    z-index: 10;
}
.Post .imgBx .profileImg::after
{
    content: '';
    position: absolute; 
    width: 110%;
    height: 110%;
    background: #ebeaea;
    border-radius: 50%;
    box-shadow: inset 0 -5px 5px rgba(0,0,0,0.1),
                0 5px 10px rgba(0,0,0,0.1),
                0 10px 15px rgba(0,0,0,0.1);
}