.Header {
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 100;
    background: #fff;
    display: inline-block;
}

.Header .newfeedBx {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.Header .newfeedBx h2 {
    color: rgb(255, 39, 39);
    font-size: 28px;
    /* font-family: sans-serif; */
    letter-spacing: 2px;
    text-shadow: 0 0 1px rgb(225, 72, 72);
}

.Header .searchBx {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    width: 250px;
    margin-left: 30px;
}

.Header .searchBx i {
    position: absolute;
    z-index: 2;
    padding: 10px;
    /* background: red; */
    border-radius: 50%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: rgb(155, 154, 154);
}

.Header .searchBx input {
    position: relative;
    width: 80%;
    height: 40px;
    outline: none;
    border: 1px solid rgb(164, 162, 162);
    border-radius: 30px;
    padding-left: 40px;
    padding-right: 15px;
    font-size: 18px;
    /* -webkit-transition: width .45s; */
    transition: width .45s;
}

.Header .searchBx input:focus {
    width: 150%;
}

.Header .socketBx {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    margin-right: 20px;
}

.Header .socketBx .notificationBx {
    position: relative;
    width: 50px;
    height: 50px;
    background: red;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
}

.Header .socketBx .notificationBx i {
    transform-origin: center top;
}

.Header .socketBx .notificationBx:hover i {
    animation: bellRing linear 0.5s infinite;
}

@keyframes bellRing {
    0% {
        transform: 0;
    }

    25% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(0);
    }

    75% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0);
    }

}

.Header .socketBx .profileBx {
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.Header .socketBx .profileBx img {
    position: absolute;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.Header .socketBx .profileBx .control {
    position: absolute;
    top: 56px;
    right: 0;
    width: 300px;
    background: linear-gradient(145deg, #f0f0f0, #dcdbdb);
    box-shadow: inset 0 -5px 3px rgba(0, 0, 0, 0.1),
        -5px 5px 3px rgba(0, 0, 0, 0.1),
        5px 5px 3px rgba(0, 0, 0, 0.1),
        0 5px 3px rgba(0, 0, 0, 0.1),
        0 10px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transform-origin: center top;
}

.Header .socketBx .profileBx .control ul li {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-radius: 10px;
}

.Header .socketBx .profileBx .control ul li:hover {
    background: rgb(195, 195, 194);
}

.Header .socketBx .profileBx .control ul li i {
    font-size: 20px;
    margin-right: 25px;
}

.Header .socketBx .profileBx .control ul li h2 {
    font-size: 20px;
}