.Profile {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to top, rgb(241, 238, 238), rgb(238, 243, 248));
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden !important;
}

.Profile .editBx {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 20;
    overflow: auto;
}

.Profile .imgBx {
    position: relative;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
}

.Profile .avatar {
    position: relative;
    width: 160px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Profile .avatar img {
    position: relative;
    border-radius: 50%;
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: 10;
}

.Profile .avatar::after {
    content: '';
    position: absolute;
    z-index: 9;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 1px solid rgb(243, 238, 238);
    background: rgb(235, 231, 231);
}

.Profile .avatar .changeAvatar {
    position: absolute;
    z-index: 11;
    transform: translate(55px, 55px);
    width: 42px;
    height: 42px;
    background: rgb(232, 231, 231);
    box-shadow: 0 0 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #000;
}

.Profile .imgBx h2 {
    position: relative;
    font-size: 28px;
    z-index: 11;
    color: rgb(55, 55, 55);
}